<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WEB_SITE_TAG" value="123123" />
    <add key="WEB_SITE_STATIC_RESOURCE_PATH" value="base" />
    <add key="WEB_SITE_NAME" value="集团运营平台管理系统" />
    <!--默认密码-->
    <add key="AdminDefaultPassword" value="123123" />
    <!--巴掌幂.运营管理系统-->
    <add key="BaseUrl" value="http://mit.83soft.cn" />
    <add key="IS_NeedLogin" value="false" />
    <add key="FileExt" value="*.jpg;*.jpeg;*.gif;*.png;*.doc;*.xls;,*.xlsx;*.ppt;*.txt;*.zip;*.rar;*.pdf;*.exe" />
    <add key="FileSize" value="10" />
    <add key="Upload_Domain" value="/upload/" />
    <add key="attachment_Domain" value="/upload/" />
    <add key="ImageUploadPath" value="/upload/images/" />
    <add key="FILE_DOMAIN" value="" />
    <add key="TaskCycle" value="2" />

    <!--微信相关配置-->
    <add key="Wechat_APPID" value="wx53dfe9c1e1874038" />
    <add key="Wechat_MCHID" value="1235474902" />
    <add key="Wechat_KEY" value="ft83soft83soft83soft83soft83soft" />
    <add key="Wechat_APPSECRET" value="a2e9091472cbf77ce01bf098dc815d20" />

  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=140.143.7.33;Initial Catalog=83soft_jdyd;Persist Security Info=True;User ID=jdyd;Password=jdyd2019123" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>