@{
    ViewBag.Title = "修改密码";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- 基本样式 -->
    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/plugin/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/plugin/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/plugin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Content/plugin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/Content/plugin/assets/css/ace-skins.min.css" />
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />*@
    <!--其他插件样式-->
    @System.Web.Optimization.Styles.Render("~/layout/css")
    <style>
        .main-content1 {
            /* padding: 2px 5px 0px 5px !important; */
        }

        .page-content {
            background: #fff;
            margin: 0;
            padding-left: 12px;
            padding-bottom: 11px;
            margin-top: 0px;
            /* padding: 0px 0px 0px 0px !important; */
        }

        .form-horizontal .control-label {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            <div class="main-content1">
                <div class="page-content" style=" background: #fff; margin: 0; padding-left: 12px; padding-bottom: 11px; margin-top: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" role="form" style="margin:20px;">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label no-padding-right" for="form-field-1"> 原密码 </label>
                                    <div class="col-xs-9">
                                        <input type="text" id="oldpassword" placeholder="原密码" style="height: 34px;" class="col-xs-12 col-sm-5">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label no-padding-right" for="form-field-2"> 新密码</label>
                                    <div class="col-xs-9">
                                        <input type="text" id="password" placeholder="新密码" style=" height: 34px;" class="col-xs-12 col-sm-5 ">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label no-padding-right" for="form-input-readonly"> 再次输入新密码</label>
                                    <div class="col-xs-9">
                                        <input type="text" id="password1" placeholder="再次输入新密码" style=" height: 34px;" class="col-xs-12 col-sm-5">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="clearfix" style="    margin-left: 100px;">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn_submit" class="btn btn-info" type="button">
                                            <i class="icon-ok bigger-110"></i>
                                            提交
                                        </button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button id="btn_reset" class="btn" type="reset">
                                            <i class="icon-undo bigger-110"></i>
                                            取消
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/plugin/jquery/jquery-2.2.3.min.js"></script>
    @System.Web.Optimization.Scripts.Render("~/_layout/js")
    <script src="~/Content/plugin/layer/layer.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn_submit").click(function () {
                var data = {
                    oldpassword: $("#oldpassword").val().trim(),
                    password: $("#password").val().trim(),
                    password1: $("#password1").val().trim(),
                };
                if (data.oldpassword == "") { layer.msg("原密码不能为空"); $("#oldpassword").focus(); return false; }
                if (data.password == "") { layer.msg("新密码不能为空"); $("#password").focus(); return false; }
                if (data.password != data.password1) { layer.msg("两次密码输入不一致"); $("#password1").focus(); return false; }
                $.post("/User/_AjaxSubmitUpdatePassword", data, function (data) {
                    if (data.Success) {
                        layer.alert("密码修改成功，请重新登录");
                        setTimeout(function () {
                            parent.location.href = "/Login/LoginOut";
                        }, 1500);
                    } else {
                        layer.alert(data.Message);
                    }
                }, "json");
            });
            $("#btn_reset").click(function () { parent.layer.closeAll() });
            $("#oldpassword,#password,#password1").focus(function () { $(this).attr("type", "password") });
        });
    </script>
</body>
</html>