@{
    ViewBag.Title = "菜单设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/plugin/kendo/styles/kendo.common.min.css" rel="stylesheet">
    <link href="~/Content/plugin/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/Content/plugin/kendo/styles/kendo.default.min.css" rel="stylesheet">
    <link href="~/Content/plugin/kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet">

    <link href="~/Content/plugin/layui/build/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-size: 12px;
            margin-top: -4px;
        }

        textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
            font-size: 13px !important;
        }

        .main-content1 {
            padding: 2px 5px 0px 5px !important;
        }

        .page-content {
            background: #fff;
            margin: 0;
            padding: 0px 0px 0px 0px !important;
        }
    </style>
}
@section operations{

    <div class="breadcrumbs" id="breadcrumbs">
        <span>当前角色:<span style="font-weight:bold">【@ViewBag.RoleName】</span></span>
        <span style='color: red; margin-left:10px; '>选择好权限后，请点击 “保存” 按钮</span>
        <ul class="breadcrumb" style="margin-left:10px;">
            <li>
                <button class="btn btn-primary" style="height: 28px; margin-top: -7px; padding-top: 4px;" onclick="Save()" type="button">
                    保 存
                </button>
                <button class="btn btn-default" style="height: 28px; margin-top: -7px; padding-top: 4px;" onclick="Close()" type="button">
                    关 闭
                </button>
            </li>
        </ul><!-- .breadcrumb -->
        <!-- #nav-search -->
    </div>
}

@section scripts{
    <script src="~/Content/plugin/icheck-1.x/icheck.min.js"></script>
    <script src="~/Content/plugin/kendo/2016.2.714/js/kendo.web.min.js"></script>
    @System.Web.Optimization.Scripts.Render("~/pageconfig/js")
}
<input type="hidden" id="hid_RoleID" value="@ViewBag.RoleID" />
<input type="hidden" id="ParentID" />
<div id="grid" style="height:100%"></div>
